@model Pokedex.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>DETAILS</h1>



<div id="details" class="container text-center">
    <div class="row row-cols-2">
        <div id="Detimg" class="col ">
            <img id="pkmnimg" src="@Model.ImgUrl" class="card-img-top img-fluid mx-auto" alt="Picture of pokemon: @Model.Name ">
        </div>
        <div id="Dettext"class="col">
            <h3 id="DescriptionTitle" class="card-title">@Model.Name</h3>
            <p id="DescriptionText"class="card-text">@Model.Description</p>
                <p>Type:</p>
            <div class="d-flex justify-content-center flex-wrap">

                    @foreach (var type in Model.PokemonTypes)
                    {
                        <span>[ @type.Type.Name ]</span>
                    }
            </div>
            <br />
             <p>Moves:</p>
             <div class="d-flex justify-content-center flex-wrap">

                    @foreach (var moves in Model.PokemonMoves)
                    {
                    <span>[ @moves.Moves.Name ]</span>
                    }

              </div>
                <br />
        </div>
    </div>
</div>



<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
<a asp-action="Index">Back to List</a>

